.container{
    width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
}
.left{
    width: 30%;
    height: 500px;
    padding-left: 50px;
    text-align: left;
     
}
.menuheading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 33px;
}
.right{
    height: 800px;
    overflow : scroll;
    width: 80%;
    background-color: #F8F7F5;
    scrollbar-width: 200px;
}
.right::-webkit-scrollbar {
    display: none;
  }
.listheading{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 18px;
    font-weight:400;
}
.itemcontainer{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 20px;
    justify-content: space-around;
    padding: 50px;
}
.itemcontainer>div{
    text-align: left;
    line-height: 30px;
}
.right>div>h1{
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    padding-left: 50px;
}
span{font-size: 20px;
color: red;}

.addtocart{
    display: flex;
    width:180px;
    color: white;
    padding: 10px;
    background-color: #E4002B;
    border-radius: 25px;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.itemcontainer2{
    display: grid;
    grid-template-columns: 32% 32% 32% ;
    border-radius: 15px;
    justify-content: space-around;
    padding: 50px;


}
.itemcontainer2>div{
    text-align: left;
    line-height: 30px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}
.itemcontainer2>div>h2{
    padding-left: 10px;
}
